Repository TeamPhotoSurfer/PhotoSurfer-Android, pull requests merged in 2022-07, with the labels that each got.

#5 [init] 기타 유틸,timber,hilt 등등 초기화 #3
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/photosurfer/android/PhotoSurferApplication.kt
  app/src/main/java/com/photosurfer/android/di/LocalPreferencesModule.kt
  app/src/main/java/com/photosurfer/android/di/NavigatorModule.kt
  app/src/main/java/com/photosurfer/android/navigator/MainNavigatorImpl.kt
  core/src/main/java/com/photosurfer/android/core/base/BaseActivity.kt
  core/src/main/java/com/photosurfer/android/core/base/BaseFragment.kt
  core/src/main/java/com/photosurfer/android/core/base/BaseViewModel.kt
  core/src/main/java/com/photosurfer/android/core/exception/RetrofitFailureStateException.kt
  core/src/main/java/com/photosurfer/android/core/ext/ContextExtension.kt
  core/src/main/java/com/photosurfer/android/core/util/Event.kt
  core/src/main/java/com/photosurfer/android/core/util/EventObserver.kt
  core/src/main/java/com/photosurfer/android/core/util/Injector.kt
  core/src/main/java/com/photosurfer/android/core/util/ItemDiffCallback.kt
  core/src/main/java/com/photosurfer/android/core/util/KeyBoardUtil.kt
  core/src/main/java/com/photosurfer/android/core/util/KeyBoardVisibilityListener.kt
  core/src/main/java/com/photosurfer/android/core/util/PhotoSurferDebugTree.kt
  navigator/src/main/java/com/photosurfer/android/navigator/Navigator.kt
  shared/src/main/res/values-night/themes.xml
  shared/src/main/res/values/colors.xml
  shared/src/main/res/values/dimens.xml
  shared/src/main/res/values/strings.xml
  shared/src/main/res/values/themes.xml
Labels: 🐷Chang🐷, 🔥PR🔥, 🐣Init🐣

#8 [init] push-setting / push-setting module 생성 및 gradle 초기화 (#7)
  feature/push-setting/.gitignore
  feature/push-setting/build.gradle.kts
  feature/push-setting/consumer-rules.pro
  feature/push-setting/proguard-rules.pro
  feature/push-setting/src/androidTest/java/com/photosurfer/android/push_setting/ExampleInstrumentedTest.kt
  feature/push-setting/src/main/AndroidManifest.xml
  feature/push-setting/src/test/java/com/photosurfer/android/push_setting/ExampleUnitTest.kt
  settings.gradle.kts
Labels: 🐷Chang🐷, 🔥PR🔥, 🐣Init🐣

#15 [ui] alarm / push-alarm ui 작업 #10
  .gitignore
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  core/build.gradle.kts
  core/src/main/java/com/photosurfer/android/core/base/BaseViewModel.kt
  feature/push-setting/build.gradle.kts
  feature/push-setting/src/main/AndroidManifest.xml
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/PushSettingActivity.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/PushSettingViewModel.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/fragments/PushMainFragment.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/fragments/SelectTagFragment.kt
  feature/push-setting/src/main/res/layout/activity_push_setting.xml
  feature/push-setting/src/main/res/layout/fragment_push_main.xml
  feature/push-setting/src/main/res/layout/fragment_select_tag.xml
  feature/push-setting/src/main/res/layout/item_select_tag.xml
  feature/push-setting/src/main/res/values/strings.xml
  shared/build.gradle.kts
  shared/src/main/res/drawable-hdpi/img_push_setting_main.png
  shared/src/main/res/drawable-mdpi/img_push_setting_main.png
  shared/src/main/res/drawable-xhdpi/img_push_setting_main.png
  shared/src/main/res/drawable-xxhdpi/img_push_setting_main.png
  shared/src/main/res/drawable-xxxhdpi/img_push_setting_main.png
  shared/src/main/res/drawable/ic_bell_line_white.xml
  shared/src/main/res/drawable/ic_check_circle_fill_blue.xml
  shared/src/main/res/drawable/ic_info_circle.xml
  shared/src/main/res/drawable/selector_select_tag_check_state.xml
  shared/src/main/res/drawable/shape_rect_grey10_fill_8.xml
  shared/src/main/res/drawable/shape_rect_main_fill_8.xml
  shared/src/main/res/drawable/shape_rect_sub_fill_300.xml
  shared/src/main/res/values/strings.xml
  shared/src/main/res/values/themes.xml
Labels: 🐷Chang🐷, 🔥PR🔥, 🖌UI🖌

#17 Feat/register tag init UI
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  build.gradle.kts
  core/src/main/java/com/photosurfer/android/core/ext/ResourceExtension.kt
  feature/register-tag/.gitignore
  feature/register-tag/build.gradle.kts
  feature/register-tag/consumer-rules.pro
  feature/register-tag/proguard-rules.pro
  feature/register-tag/src/androidTest/java/com/example/register_tag/ExampleInstrumentedTest.kt
  feature/register-tag/src/main/AndroidManifest.xml
  feature/register-tag/src/main/java/com/example/register_tag/RegisterTagActivity.kt
  feature/register-tag/src/main/java/com/example/register_tag/SelectTagFragment.kt
  feature/register-tag/src/main/res/layout/activity_register_tag.xml
  feature/register-tag/src/main/res/layout/fragment_select_tag.xml
  feature/register-tag/src/main/res/values/strings.xml
  feature/register-tag/src/test/java/com/example/register_tag/ExampleUnitTest.kt
  settings.gradle.kts
  shared/src/main/res/drawable/shape_rect_register_gray_radius_8dp.xml
Labels: 🐱Young🐱, 🔥PR🔥, 🖌UI🖌

#18 [feat] stfalconImageViewer 유틸 생성, overscrollmode 제거 (#16)
  build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/Versions.kt
  core/build.gradle.kts
  core/src/main/java/com/photosurfer/android/core/util/StfalconImageViewerUtil.kt
  shared/src/main/res/values/themes.xml
Labels: 🐷Chang🐷, ✨Feat✨, 🔥PR🔥

#22 Feat/splash with login
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/photosurfer/android/navigator/MainNavigatorImpl.kt
  core/src/main/java/com/photosurfer/android/core/util/BindingAdapter.kt
  feature/auth/src/main/java/com/photosurfer/android/auth/LoginActivity.kt
  feature/auth/src/main/java/com/photosurfer/android/auth/LoginViewModel.kt
  feature/auth/src/main/res/drawable/ic_splash_logo.xml
  feature/auth/src/main/res/layout/activity_login.xml
  feature/auth/src/main/res/values/strings.xml
  navigator/build.gradle.kts
  navigator/src/main/java/com/photosurfer/android/navigator/Navigator.kt
  shared/src/main/res/drawable/bg_splash_gradient_blue.xml
  shared/src/main/res/drawable/ic_kakao_talk_logo.xml
  shared/src/main/res/drawable/ic_login_logo_gradient.xml
  shared/src/main/res/drawable/ic_naver_logo.xml
  shared/src/main/res/drawable/ic_sea_bottom.xml
  shared/src/main/res/drawable/ic_splash_logo.xml
  shared/src/main/res/drawable/rectangle_green_radius_999.xml
  shared/src/main/res/drawable/rectangle_yellow_radius_999.xml
  shared/src/main/res/values/colors.xml
  shared/src/main/res/values/strings.xml
  shared/src/main/res/values/themes.xml
Labels: 🐹Rim🐹, ✨Feat✨

#23 [feat] alarm tag / 리사이클러뷰 어댑터 생성 (#21)
  domain/src/main/java/com/photosurfer/android/domain/Example.kt
  domain/src/main/java/com/photosurfer/android/domain/entity/TagInfo.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/fragments/SelectTagFragment.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/fragments/SelectTagListAdapter.kt
  feature/push-setting/src/main/res/layout/fragment_select_tag.xml
  feature/push-setting/src/main/res/layout/item_select_tag.xml
Labels: 🐷Chang🐷, ✨Feat✨, 🔥PR🔥

#26 [feat] MainActivity / bottom navigation
  app/build.gradle.kts
  app/src/main/java/com/photosurfer/android/MainActivity.kt
  app/src/main/java/com/photosurfer/android/adapter/MainViewPagerAdapter.kt
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/menu/menu_main.xml
  build.gradle.kts
  buildSrc/src/main/kotlin/Versions.kt
  feature/main/.gitignore
  feature/main/build.gradle.kts
  feature/main/consumer-rules.pro
  feature/main/proguard-rules.pro
  feature/main/src/androidTest/java/com/photosurfer/android/main/ExampleInstrumentedTest.kt
  feature/main/src/main/AndroidManifest.xml
  feature/main/src/main/java/com/photosurfer/android/main/HomeFragment.kt
  feature/main/src/main/res/layout/fragment_home.xml
  feature/main/src/test/java/com/photosurfer/android/main/ExampleUnitTest.kt
  settings.gradle.kts
  shared/src/main/res/color/selector_bottom_navi.xml
  shared/src/main/res/drawable/ic_bell_fill.xml
  shared/src/main/res/drawable/selector_bottom_navi_alarm.xml
  shared/src/main/res/drawable/selector_bottom_navi_search.xml
  shared/src/main/res/drawable/selector_bottom_navi_setting.xml
  shared/src/main/res/drawable/selector_bottom_navi_tag.xml
  shared/src/main/res/values/strings.xml
  shared/src/main/res/values/themes.xml
Labels: 🐹Rim🐹, ✨Feat✨, 🔥PR🔥

#30 [feat] alarm_init / 데이터 관련처리 작업 (#24)
  app/src/main/AndroidManifest.xml
  core/src/main/java/com/photosurfer/android/core/constant/PushSettingConstant.kt
  core/src/main/java/com/photosurfer/android/core/util/DateUtil.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/PushSettingActivity.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/PushSettingViewModel.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/fragments/PushMainFragment.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/fragments/SelectTagFragment.kt
  feature/push-setting/src/main/res/layout/fragment_push_main.xml
  shared/src/main/res/drawable/shape_rect_gray_95_a_70_fill_4.xml
  shared/src/main/res/values/strings.xml
Labels: 🐷Chang🐷, ✨Feat✨, 🔥PR🔥

#32 [feat] push-setting / 화면 전환 로직 생성 (#31)
  core/src/main/java/com/photosurfer/android/core/ext/ViewExtension.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/PushSettingActivity.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/PushSettingViewModel.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/fragments/PushMainFragment.kt
  feature/push-setting/src/main/res/layout/activity_push_setting.xml
Labels: 🐷Chang🐷, ✨Feat✨, 🔥PR🔥

#38 [ui] homeFragment / 상단바 컬러 변경 (#27)
  app/src/main/java/com/photosurfer/android/MainActivity.kt
  shared/src/main/res/values/colors.xml
Labels: 🐹Rim🐹, 🖌UI🖌

#39 [feat] alarm tag / 대표태그 선택 로직 작성 (#35)
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/PushSettingActivity.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/PushSettingViewModel.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/fragments/PushMainFragment.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/fragments/SelectTagFragment.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/fragments/SelectTagListAdapter.kt
  feature/push-setting/src/main/res/layout/activity_push_setting.xml
  feature/push-setting/src/main/res/layout/fragment_push_main.xml
  feature/push-setting/src/main/res/layout/item_select_tag.xml
Labels: 🐷Chang🐷, ✨Feat✨, 🔥PR🔥

#40 [ui] LoginActivity / 물방울 Lottie 추가 (#36)
  feature/auth/build.gradle.kts
  feature/auth/src/main/res/layout/activity_login.xml
  feature/main/src/main/res/layout/fragment_home.xml
  shared/src/main/assets/android_bubble.json
Labels: 🐹Rim🐹, 🖌UI🖌

#41 [fix] 코드리뷰 반영 완료 (#32)
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/fragments/PushMainFragment.kt
Labels: 🐷Chang🐷, 🛠Fix🛠, 🔥PR🔥

#42 [fix] 코드리뷰 반영완료 (#34)
  core/src/main/java/com/photosurfer/android/core/util/PhotoSurferSnackBar.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/fragments/SelectTagListAdapter.kt
  shared/src/main/res/layout/custom_snackbar.xml
  shared/src/main/res/values/strings.xml
Labels: 🐷Chang🐷, 🛠Fix🛠, 🔥PR🔥

#43 [chore] homeFragment / chip click event 작업
  app/build.gradle.kts
  core/src/main/java/com/photosurfer/android/core/util/ChipUnSelectableUtil.kt
  feature/main/src/main/java/com/photosurfer/android/main/HomeFragment.kt
  feature/main/src/main/res/layout/fragment_home.xml
  feature/search-tag/.gitignore
  feature/search-tag/build.gradle.kts
  feature/search-tag/consumer-rules.pro
  feature/search-tag/proguard-rules.pro
  feature/search-tag/src/androidTest/java/org/sopt/search_tag/ExampleInstrumentedTest.kt
  feature/search-tag/src/main/AndroidManifest.xml
  feature/search-tag/src/test/java/org/sopt/search_tag/ExampleUnitTest.kt
  settings.gradle.kts
Labels: 🐹Rim🐹, 👻Chore👻, 🔥PR🔥

#49 [ui] alarm-tab / ui 작업 #45
  app/build.gradle.kts
  core/src/main/java/com/photosurfer/android/core/util/BindingAdapter.kt
  core/src/main/java/com/photosurfer/android/core/util/DateUtil.kt
  domain/src/main/java/com/photosurfer/android/domain/entity/AlarmList.kt
  feature/alarm-list/.gitignore
  feature/alarm-list/build.gradle.kts
  feature/alarm-list/consumer-rules.pro
  feature/alarm-list/proguard-rules.pro
  feature/alarm-list/src/androidTest/java/com/photosurfer/android/alarm_list/ExampleInstrumentedTest.kt
  feature/alarm-list/src/main/AndroidManifest.xml
  feature/alarm-list/src/main/java/com/photosurfer/android/alarm_list/AlarmListAdapter.kt
  feature/alarm-list/src/main/java/com/photosurfer/android/alarm_list/AlarmListMainFragment.kt
  feature/alarm-list/src/main/res/layout/fragment_alarm_list_main.xml
  feature/alarm-list/src/main/res/layout/item_alarm_content.xml
  feature/alarm-list/src/main/res/layout/item_division_day_header.xml
  feature/alarm-list/src/main/res/values/strings.xml
  feature/alarm-list/src/test/java/com/photosurfer/android/alarm_list/ExampleUnitTest.kt
  feature/push-setting/src/main/res/layout/fragment_push_main.xml
  settings.gradle.kts
  shared/src/main/res/drawable-hdpi/bg_alarm_list_main.png
  shared/src/main/res/drawable-mdpi/bg_alarm_list_main.png
  shared/src/main/res/drawable-xhdpi/bg_alarm_list_main.png
  shared/src/main/res/drawable-xxhdpi/bg_alarm_list_main.png
  shared/src/main/res/drawable-xxxhdpi/bg_alarm_list_main.png
  shared/src/main/res/drawable/bg_alarm_list_gradient_blue.xml
  shared/src/main/res/drawable/bg_alarm_list_shadow.xml
  shared/src/main/res/drawable/ic_info_circle_white.xml
  shared/src/main/res/drawable/shape_rect_gray_20_fill_8.xml
  shared/src/main/res/values/colors.xml
  shared/src/main/res/values/strings.xml
  shared/src/main/res/values/themes.xml
Labels: 🐷Chang🐷, 🔥PR🔥, 🖌UI🖌

#51 [feat] Setting / 환경설정 뷰 작업 (#48)
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/photosurfer/android/MainActivity.kt
  feature/alarm-list/src/main/AndroidManifest.xml
  feature/alarm-list/src/main/res/layout/item_alarm_content.xml
  feature/alarm-list/src/main/res/layout/item_division_day_header.xml
  feature/main/src/main/AndroidManifest.xml
  feature/main/src/main/java/com/photosurfer/android/main/home/HomeFragment.kt
  feature/main/src/main/java/com/photosurfer/android/main/home/HomeViewModel.kt
  feature/main/src/main/java/com/photosurfer/android/main/setting/EtcPolicyActivity.kt
  feature/main/src/main/java/com/photosurfer/android/main/setting/ManageAccountActivity.kt
  feature/main/src/main/java/com/photosurfer/android/main/setting/SettingFragment.kt
  feature/main/src/main/java/com/photosurfer/android/main/setting/viewModel/SettingViewModel.kt
  feature/main/src/main/res/layout/activity_ect_policy.xml
  feature/main/src/main/res/layout/activity_manage_account.xml
  feature/main/src/main/res/layout/fragment_home.xml
  feature/main/src/main/res/layout/fragment_setting.xml
  shared/src/main/res/drawable/ic_info_circle_white.xml
  shared/src/main/res/drawable/selector_switch_track.xml
  shared/src/main/res/drawable/shape_oval_white_fill_27.xml
  shared/src/main/res/drawable/switch_track_off.xml
  shared/src/main/res/drawable/switch_track_on.xml
  shared/src/main/res/values/strings.xml
  shared/src/main/res/values/themes.xml
Labels: 🐹Rim🐹, 🖌UI🖌

#52 [feat] 메인 tag 즐겨찾기 뷰 UI, 팝업 로직 (#29)
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/photosurfer/android/MainActivity.kt
  feature/main/src/main/java/com/photosurfer/android/main/TagFragment.kt
  feature/main/src/main/java/com/photosurfer/android/main/TagListAdapter.kt
  feature/main/src/main/res/layout/fragment_tag.xml
  feature/main/src/main/res/layout/item_tag.xml
  feature/main/src/main/res/menu/tag_menu.xml
  feature/main/src/main/res/values/strings.xml
  shared/src/main/res/drawable/ic_hashtag_line_white.xml
  shared/src/main/res/drawable/ic_star_fill_yellow.xml
  shared/src/main/res/drawable/ic_star_line_white.xml
  shared/src/main/res/drawable/ic_threedots_vertical_white.xml
  shared/src/main/res/drawable/selector_tag_star.xml
  shared/src/main/res/drawable/shape_rect_gray30.xml
  shared/src/main/res/drawable/tag_popup_background_test.xml
  shared/src/main/res/values/themes.xml
Labels: 🐱Young🐱, ✨Feat✨

#61 [feat] push_alarm / 푸시알림 설정 (#56)
  .gitignore
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/photosurfer/android/PhotoSurferMessagingService.kt
  buildSrc/src/main/kotlin/Versions.kt
  shared/src/main/res/drawable/ic_push_small.xml
Labels: 🐷Chang🐷, ✨Feat✨, 🔥PR🔥

#63 Feat/register tag new
  app/src/main/AndroidManifest.xml
  core/src/main/java/com/photosurfer/android/core/util/PhotoSurferSnackBar.kt
  domain/src/main/java/com/photosurfer/android/domain/entity/ChooseTagInfo.kt
  feature/register-tag/src/main/java/com/example/register_tag/ChooseTagFragment.kt
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/ChooseTagFragment.kt
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/ChooseTagViewModel.kt
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/PointSubTagAdapter.kt
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/PointTagAdapter.kt
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/RegisterTagActivity.kt
  feature/register-tag/src/main/res/layout/fragment_choose_tag.xml
  feature/register-tag/src/main/res/layout/item_tag_fill_gray10_text_gray50.xml
  feature/register-tag/src/main/res/layout/item_tag_point.xml
  feature/register-tag/src/main/res/layout/item_tag_point_sub.xml
  shared/src/main/res/color/selector_choose_tag_check_state_text.xml
  shared/src/main/res/color/selector_choose_tag_text.xml
  shared/src/main/res/values/strings.xml
Labels: 🐱Young🐱, ✨Feat✨

#67 [feat] FlexBox layout 적용 (#59)
  app/build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/Versions.kt
  feature/register-tag/build.gradle.kts
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/ChooseTagFragment.kt
  feature/register-tag/src/main/res/layout/fragment_choose_tag.xml
  feature/register-tag/src/main/res/layout/item_tag_point.xml
  feature/register-tag/src/main/res/layout/item_tag_point_sub.xml
Labels: 🐱Young🐱, ✨Feat✨

#66 [feat] 온보딩 / 풀스크린 다이얼로그 온보딩 (#64)
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/Versions.kt
  core/build.gradle.kts
  core/src/main/java/com/photosurfer/android/core/onboarding/AddTagOnBoardingFragmentDialog.kt
  core/src/main/java/com/photosurfer/android/core/onboarding/OnBoardingAdapter.kt
  core/src/main/java/com/photosurfer/android/core/onboarding/OnBoardingAlarmFirsrtFragment.kt
  core/src/main/java/com/photosurfer/android/core/onboarding/OnBoardingAlarmSecondFragment.kt
  core/src/main/java/com/photosurfer/android/core/onboarding/OnBoardingAlarmThirdFragment.kt
  core/src/main/java/com/photosurfer/android/core/onboarding/OnBoardingTagSecondFragment.kt
  core/src/main/java/com/photosurfer/android/core/onboarding/OnBoardingTagThirdFragment.kt
  core/src/main/java/com/photosurfer/android/core/onboarding/OnBoardingTagfirstFragment.kt
  core/src/main/java/com/photosurfer/android/core/onboarding/SetAlarmOnBoardingFragmentDialog.kt
  core/src/main/res/layout/fragment_add_tag_one.xml
  core/src/main/res/layout/fragment_add_tag_three.xml
  core/src/main/res/layout/fragment_add_tag_two.xml
  core/src/main/res/layout/fragment_set_alarm_one.xml
  core/src/main/res/layout/fragment_set_alarm_three.xml
  core/src/main/res/layout/fragment_set_alarm_two.xml
  shared/build.gradle.kts
  shared/src/main/res/drawable-hdpi/bg_onboarding_pado.png
  shared/src/main/res/drawable-hdpi/img_add_tag_one.png
  shared/src/main/res/drawable-hdpi/img_add_tag_three.png
  shared/src/main/res/drawable-hdpi/img_add_tag_two.png
  shared/src/main/res/drawable-hdpi/img_set_alarm_three.png
  shared/src/main/res/drawable-hdpi/img_set_alarm_two.png
  shared/src/main/res/drawable-mdpi/bg_onboarding_pado.png
  shared/src/main/res/drawable-mdpi/img_add_tag_one.png
  shared/src/main/res/drawable-mdpi/img_add_tag_three.png
  shared/src/main/res/drawable-mdpi/img_add_tag_two.png
  shared/src/main/res/drawable-mdpi/img_set_alarm_three.png
  shared/src/main/res/drawable-mdpi/img_set_alarm_two.png
  shared/src/main/res/drawable-xhdpi/bg_onboarding_pado.png
  shared/src/main/res/drawable-xhdpi/img_add_tag_one.png
  shared/src/main/res/drawable-xhdpi/img_add_tag_three.png
  shared/src/main/res/drawable-xhdpi/img_add_tag_two.png
  shared/src/main/res/drawable-xhdpi/img_set_alarm_three.png
  shared/src/main/res/drawable-xhdpi/img_set_alarm_two.png
  shared/src/main/res/drawable-xxhdpi/bg_onboarding_pado.png
  shared/src/main/res/drawable-xxhdpi/img_add_tag_one.png
  shared/src/main/res/drawable-xxhdpi/img_add_tag_three.png
  shared/src/main/res/drawable-xxhdpi/img_add_tag_two.png
  shared/src/main/res/drawable-xxhdpi/img_set_alarm_three.png
  shared/src/main/res/drawable-xxhdpi/img_set_alarm_two.png
  shared/src/main/res/drawable-xxxhdpi/bg_onboarding_pado.png
  shared/src/main/res/drawable-xxxhdpi/img_add_tag_one.png
  shared/src/main/res/drawable-xxxhdpi/img_add_tag_three.png
  shared/src/main/res/drawable-xxxhdpi/img_add_tag_two.png
  shared/src/main/res/drawable-xxxhdpi/img_set_alarm_three.png
  shared/src/main/res/drawable-xxxhdpi/img_set_alarm_two.png
  shared/src/main/res/drawable/bg_on_boarding_gradient_blue.xml
  shared/src/main/res/layout/dialog_onboarding.xml
  shared/src/main/res/values/colors.xml
  shared/src/main/res/values/strings.xml
  shared/src/main/res/values/themes.xml
Labels: 🐷Chang🐷, ✨Feat✨

#70 [feat] push-setting / 푸시알림 설정 서버 붙이기 (#65)
  app/build.gradle.kts
  app/src/main/java/com/photosurfer/android/di/RemoteDataSourceModule.kt
  app/src/main/java/com/photosurfer/android/di/RepositoryModule.kt
  app/src/main/java/com/photosurfer/android/di/RetrofitModule.kt
  app/src/main/java/com/photosurfer/android/di/RetrofitServiceModule.kt
  core/src/main/java/com/photosurfer/android/core/util/PhotoSurferSnackBar.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemotePushSettingDataSource.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemotePushSettingDataSourceImpl.kt
  data/src/main/java/com/photosurfer/android/data/remote/model/request/PushSettingRequest.kt
  data/src/main/java/com/photosurfer/android/data/remote/model/response/BaseResponse.kt
  data/src/main/java/com/photosurfer/android/data/remote/model/response/PushSettingResponse.kt
  data/src/main/java/com/photosurfer/android/data/remote/service/PushSettingService.kt
  data/src/main/java/com/photosurfer/android/data/repository/PushSettingRepositoryImpl.kt
  domain/src/main/java/com/photosurfer/android/domain/entity/TagInfo.kt
  domain/src/main/java/com/photosurfer/android/domain/entity/request/DomainPushSettingRequest.kt
  domain/src/main/java/com/photosurfer/android/domain/repository/PushSettingRepository.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/PushSettingActivity.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/PushSettingViewModel.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/fragments/PushMainFragment.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/fragments/SelectTagFragment.kt
  feature/push-setting/src/main/java/com/photosurfer/android/push_setting/fragments/SelectTagListAdapter.kt
  feature/push-setting/src/main/res/layout/fragment_push_main.xml
Labels: 🐷Chang🐷, ✨Feat✨, 🔥PR🔥

#69 [feat] 인텐트 필터 (#54)
  app/src/main/AndroidManifest.xml
  core/build.gradle.kts
  core/src/main/java/com/photosurfer/android/core/constant/PassTagListConstant.kt
  core/src/main/java/com/photosurfer/android/core/util/MultiPartResolver.kt
  feature/register-tag/build.gradle.kts
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/ChooseTagFragment.kt
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/ChooseTagViewModel.kt
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/RegisterTagActivity.kt
Labels: 🐱Young🐱, ✨Feat✨

#76 [feat] alarm_main / 임박한 목록 조회 네트워크 연결 (#72)
  app/src/main/java/com/photosurfer/android/di/RemoteDataSourceModule.kt
  app/src/main/java/com/photosurfer/android/di/RepositoryModule.kt
  app/src/main/java/com/photosurfer/android/di/RetrofitServiceModule.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteUrgentAlarmListDataSource.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteUrgentAlarmListDataSourceImpl.kt
  data/src/main/java/com/photosurfer/android/data/remote/mapper/PushMapper.kt
  data/src/main/java/com/photosurfer/android/data/remote/model/response/UrgentAlarmListResponse.kt
  data/src/main/java/com/photosurfer/android/data/remote/service/UrgentAlarmListService.kt
  data/src/main/java/com/photosurfer/android/data/repository/UrgentAlarmListRepositoryImpl.kt
  domain/src/main/java/com/photosurfer/android/domain/entity/AlarmList.kt
  domain/src/main/java/com/photosurfer/android/domain/repository/UrgentAlarmListRepository.kt
  feature/alarm-list/src/main/java/com/photosurfer/android/alarm_list/AlarmListAdapter.kt
  feature/alarm-list/src/main/java/com/photosurfer/android/alarm_list/AlarmListMainFragment.kt
  feature/alarm-list/src/main/java/com/photosurfer/android/alarm_list/AlarmListMainViewModel.kt
  feature/alarm-list/src/main/java/com/photosurfer/android/alarm_list/eachinfo/EachInfoViewModel.kt
  feature/alarm-list/src/main/java/com/photosurfer/android/alarm_list/moreinfo/AlarmListExtraActivity.kt
  feature/alarm-list/src/main/res/layout/fragment_alarm_list_main.xml
  feature/alarm-list/src/main/res/layout/item_alarm_content.xml
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/ChooseTagFragment.kt
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/ChooseTagViewModel.kt
Labels: 🐷Chang🐷, ✨Feat✨, 🔥PR🔥

#78 [feat] alarm_main / 더보기 목록 조회 네트워크 연결 (#77)
  app/src/main/java/com/photosurfer/android/di/RemoteDataSourceModule.kt
  app/src/main/java/com/photosurfer/android/di/RepositoryModule.kt
  app/src/main/java/com/photosurfer/android/di/RetrofitServiceModule.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteAlarmListDataSource.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteAlarmListDataSourceImpl.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteUrgentAlarmListDataSourceImpl.kt
  data/src/main/java/com/photosurfer/android/data/remote/model/response/MoreAlarmListResponse.kt
  data/src/main/java/com/photosurfer/android/data/remote/service/PassedAlarmListService.kt
  data/src/main/java/com/photosurfer/android/data/remote/service/UpComingAlarmListService.kt
  data/src/main/java/com/photosurfer/android/data/repository/AlarmListRepositoryImpl.kt
  domain/src/main/java/com/photosurfer/android/domain/repository/AlarmListRepository.kt
  domain/src/main/java/com/photosurfer/android/domain/repository/UrgentAlarmListRepository.kt
  feature/alarm-list/src/main/java/com/photosurfer/android/alarm_list/AlarmListMainFragment.kt
  feature/alarm-list/src/main/java/com/photosurfer/android/alarm_list/AlarmListMainViewModel.kt
  feature/alarm-list/src/main/java/com/photosurfer/android/alarm_list/moreinfo/AlarmListExtraActivity.kt
  feature/alarm-list/src/main/java/com/photosurfer/android/alarm_list/moreinfo/AlarmListExtraViewModel.kt
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/ChooseTagFragment.kt
Labels: 🐷Chang🐷, ✨Feat✨, 🔥PR🔥

#82 [feat] SearchResultActivity / RecyclerView Item 클릭이벤트 분기처리 (#81)
  domain/src/main/java/com/photosurfer/android/domain/entity/ThumbnailInfo.kt
  feature/search-result/src/main/java/com/photosurfer/android/search_result/MutableTagAdapter.kt
  feature/search-result/src/main/java/com/photosurfer/android/search_result/SearchResultActivity.kt
  feature/search-result/src/main/java/com/photosurfer/android/search_result/ThumbnailAdapter.kt
  feature/search-result/src/main/res/layout/item_photo_thumbnail.xml
  feature/search-result/src/main/res/menu/menu_search_result.xml
  shared/src/main/res/drawable/shape_rect_white_fill_4.xml
  shared/src/main/res/values/strings.xml
  shared/src/main/res/values/themes.xml
Labels: 🐹Rim🐹, ✨Feat✨

#86 [feat] alarm_main / 엠티뷰 겸 온보딩 붙이기 (#85)
  feature/alarm-list/src/main/java/com/photosurfer/android/alarm_list/AlarmListMainFragment.kt
  feature/alarm-list/src/main/java/com/photosurfer/android/alarm_list/AlarmListMainViewModel.kt
  feature/alarm-list/src/main/res/layout/fragment_alarm_list_main.xml
  shared/src/main/res/values/strings.xml
Labels: 🐷Chang🐷, ✨Feat✨, 🔥PR🔥

#87 [Feat] 태그 추가 뷰 / 태그 리스트 GET
  app/src/main/java/com/photosurfer/android/di/RemoteDataSourceModule.kt
  app/src/main/java/com/photosurfer/android/di/RepositoryModule.kt
  app/src/main/java/com/photosurfer/android/di/RetrofitServiceModule.kt
  core/src/main/java/com/photosurfer/android/core/util/MutiPartResolver.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteChooseTagDataSource.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteChooseTagDataSourceImpl.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteTagListDataSource.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteTagListDataSourceImpl.kt
  data/src/main/java/com/photosurfer/android/data/remote/mapper/TagMapper.kt
  data/src/main/java/com/photosurfer/android/data/remote/model/request/ChooseTagRequest.kt
  data/src/main/java/com/photosurfer/android/data/remote/model/response/ChooseTagResponse.kt
  data/src/main/java/com/photosurfer/android/data/remote/model/response/TagListResponse.kt
  data/src/main/java/com/photosurfer/android/data/remote/service/ChooseTagService.kt
  data/src/main/java/com/photosurfer/android/data/repository/ChooseTagRepositoryImpl.kt
  domain/src/main/java/com/photosurfer/android/domain/entity/TagIdNameType.kt
  domain/src/main/java/com/photosurfer/android/domain/entity/TagNameType.kt
  domain/src/main/java/com/photosurfer/android/domain/entity/ThreeTagList.kt
  domain/src/main/java/com/photosurfer/android/domain/entity/request/DomainChooseTagRequest.kt
  domain/src/main/java/com/photosurfer/android/domain/repository/ChooseTagRepository.kt
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/ChooseTagFragment.kt
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/ChooseTagViewModel.kt
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/RegisterTagActivity.kt
Labels: 🐱Young🐱, ✨Feat✨, 🔥PR🔥

#89 [feat] HomeFragment / 자주 검색한 태그 서버 연동 (#84)
  app/src/main/java/com/photosurfer/android/di/RemoteDataSourceModule.kt
  app/src/main/java/com/photosurfer/android/di/RepositoryModule.kt
  app/src/main/java/com/photosurfer/android/di/RetrofitServiceModule.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteTagListDataSource.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteTagListDataSourceImpl.kt
  data/src/main/java/com/photosurfer/android/data/remote/model/response/OftenSearchTagResponse.kt
  data/src/main/java/com/photosurfer/android/data/remote/service/OftenSearchTagService.kt
  data/src/main/java/com/photosurfer/android/data/repository/TagListRepositoryImpl.kt
  domain/src/main/java/com/photosurfer/android/domain/repository/TagListRepository.kt
  feature/main/src/main/java/com/photosurfer/android/main/home/HomeFragment.kt
  feature/main/src/main/java/com/photosurfer/android/main/home/HomeViewModel.kt
Labels: 🐹Rim🐹, ✨Feat✨

#92 [feat] SearchTagActivity / 서버 연동 (#91)
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/ChooseTagFragment.kt
  feature/search/src/main/java/com/photosurfer/android/search/SearchTagFragment.kt
  feature/search/src/main/java/com/photosurfer/android/search/SearchTagViewModel.kt
Labels: 🐹Rim🐹, ✨Feat✨

#94 [feat] SearchResultActivity / 서버 연동 완료
  app/src/main/java/com/photosurfer/android/di/RemoteDataSourceModule.kt
  app/src/main/java/com/photosurfer/android/di/RepositoryModule.kt
  app/src/main/java/com/photosurfer/android/di/RetrofitServiceModule.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteSearchTagResultDataSource.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteSearchTagResultDataSourceImpl.kt
  data/src/main/java/com/photosurfer/android/data/remote/model/response/SearchTagResultResponse.kt
  data/src/main/java/com/photosurfer/android/data/remote/service/SearchTagResultService.kt
  data/src/main/java/com/photosurfer/android/data/repository/PhotoRepositoryImpl.kt
  domain/src/main/java/com/photosurfer/android/domain/entity/ThumbnailInfo.kt
  domain/src/main/java/com/photosurfer/android/domain/entity/request/SearchTagResult.kt
  domain/src/main/java/com/photosurfer/android/domain/repository/PhotoRepository.kt
  feature/search-result/src/main/java/com/photosurfer/android/search_result/SearchResultActivity.kt
  feature/search-result/src/main/java/com/photosurfer/android/search_result/viewModel/SearchResultViewModel.kt
  feature/search-result/src/main/res/layout/item_photo_thumbnail.xml
  feature/search/src/main/java/com/photosurfer/android/search/SearchTagFragment.kt
Labels: 🐹Rim🐹, ✨Feat✨, 🔥PR🔥

#95 [feat] 홈 뷰 태그 목록 서버 연결
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteTagListDataSource.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteTagListDataSourceImpl.kt
  data/src/main/java/com/photosurfer/android/data/remote/model/response/EditTagNameResponse.kt
  data/src/main/java/com/photosurfer/android/data/remote/model/response/SavedTagListResponse.kt
  data/src/main/java/com/photosurfer/android/data/remote/service/ChooseTagService.kt
  data/src/main/java/com/photosurfer/android/data/repository/ChooseTagRepositoryImpl.kt
  domain/src/main/java/com/photosurfer/android/domain/entity/SavedTag.kt
  domain/src/main/java/com/photosurfer/android/domain/entity/SavedTagList.kt
  domain/src/main/java/com/photosurfer/android/domain/repository/ChooseTagRepository.kt
  domain/src/main/java/com/photosurfer/android/domain/repository/TagListRepository.kt
  feature/main/src/main/java/com/photosurfer/android/main/TagFragment.kt
  feature/main/src/main/java/com/photosurfer/android/main/TagListAdapter.kt
  feature/main/src/main/java/com/photosurfer/android/main/TagViewModel.kt
  feature/main/src/main/res/layout/item_tag.xml
Labels: 🐱Young🐱, ✨Feat✨, 🔥PR🔥

#98 [feat] 필터 리스트 (#96)
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteTagListDataSource.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteTagListDataSourceImpl.kt
  data/src/main/java/com/photosurfer/android/data/remote/service/ChooseTagService.kt
  data/src/main/java/com/photosurfer/android/data/repository/ChooseTagRepositoryImpl.kt
  domain/src/main/java/com/photosurfer/android/domain/repository/ChooseTagRepository.kt
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/ChooseTagFragment.kt
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/ChooseTagViewModel.kt
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/FilterTagAdapter.kt
  feature/register-tag/src/main/res/layout/fragment_choose_tag.xml
Labels: 🐱Young🐱, ✨Feat✨

#99 Feat/dialog util
  core/src/main/java/com/photosurfer/android/core/constant/DialogMode.kt
  core/src/main/java/com/photosurfer/android/core/util/PhotoSurferDialogUtil.kt
  core/src/main/res/layout/dialog_photo_surfer_util.xml
  feature/main/src/main/java/com/photosurfer/android/main/home/HomeFragment.kt
  shared/src/main/res/drawable/rectangle_white_radius_20.xml
  shared/src/main/res/values/themes.xml
Labels: 🐹Rim🐹, ✨Feat✨

#102 [feat] 태그 추가 뷰 로직 추가
  app/src/main/java/com/photosurfer/android/navigator/MainNavigatorImpl.kt
  core/src/main/java/com/photosurfer/android/core/util/PhotoSurferSnackBar.kt
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/ChooseTagFragment.kt
  feature/register-tag/src/main/java/com/photosurfer/android/register_tag/ChooseTagViewModel.kt
  feature/register-tag/src/main/res/layout/fragment_choose_tag.xml
  navigator/src/main/java/com/photosurfer/android/navigator/Navigator.kt
  shared/src/main/res/color/selector_choose_tag_check_state_text.xml
Labels: 🐱Young🐱, ✨Feat✨, 🔥PR🔥

#104 [feat] SearchResultActivity / 선택 mode 관련 기능 구현 (#101)
  feature/main/src/main/java/com/photosurfer/android/main/home/HomeFragment.kt
  feature/search-result/src/main/java/com/photosurfer/android/search_result/SearchResultActivity.kt
  feature/search-result/src/main/java/com/photosurfer/android/search_result/viewModel/SearchResultViewModel.kt
Labels: 🐹Rim🐹, ✨Feat✨

#105 [feat] SearchResultActivity / 서버 에러 해결 (#101)
  core/src/main/java/com/photosurfer/android/core/util/KeyBoardUtil.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteSearchTagResultDataSource.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteSearchTagResultDataSourceImpl.kt
  data/src/main/java/com/photosurfer/android/data/remote/service/SearchTagResultService.kt
  data/src/main/java/com/photosurfer/android/data/repository/PhotoRepositoryImpl.kt
  domain/src/main/java/com/photosurfer/android/domain/repository/PhotoRepository.kt
  feature/search-result/src/main/java/com/photosurfer/android/search_result/SearchResultActivity.kt
  feature/search-result/src/main/java/com/photosurfer/android/search_result/viewModel/SearchResultViewModel.kt
  feature/search/src/main/java/com/photosurfer/android/search/SearchTagFragment.kt
Labels: 🐹Rim🐹, 🛠Fix🛠, 🔥PR🔥

#106 [ui] HomeFragment / chip -> recyclerview 로직으로 교체 (#44)
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteSearchTagResultDataSource.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteSearchTagResultDataSourceImpl.kt
  data/src/main/java/com/photosurfer/android/data/remote/service/SearchTagResultService.kt
  data/src/main/java/com/photosurfer/android/data/repository/PhotoRepositoryImpl.kt
  domain/src/main/java/com/photosurfer/android/domain/repository/PhotoRepository.kt
  feature/main/build.gradle.kts
  feature/main/src/main/java/com/photosurfer/android/main/home/HomeFragment.kt
  feature/main/src/main/java/com/photosurfer/android/main/home/HomeViewModel.kt
  feature/main/src/main/res/layout/fragment_home.xml
  feature/search-result/src/main/java/com/photosurfer/android/search_result/viewModel/SearchResultViewModel.kt
Labels: 🐹Rim🐹, 🖌UI🖌

#107 [feat] detail_image / 시연으로 인한 중간 pull request (#90)
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/photosurfer/android/di/RemoteDataSourceModule.kt
  app/src/main/java/com/photosurfer/android/di/RepositoryModule.kt
  app/src/main/java/com/photosurfer/android/di/RetrofitServiceModule.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteImageDataSource.kt
  data/src/main/java/com/photosurfer/android/data/remote/datasource/RemoteImageDataSourceImpl.kt
  data/src/main/java/com/photosurfer/android/data/remote/mapper/ImageMapper.kt
  data/src/main/java/com/photosurfer/android/data/remote/model/response/DetailImageResponse.kt
  data/src/main/java/com/photosurfer/android/data/remote/model/response/NoDataResponse.kt
  data/src/main/java/com/photosurfer/android/data/remote/service/DeleteImageService.kt
  data/src/main/java/com/photosurfer/android/data/remote/service/DetailImageService.kt
  data/src/main/java/com/photosurfer/android/data/repository/ImageRepositoryImpl.kt
  domain/src/main/java/com/photosurfer/android/domain/entity/DetailImageInfo.kt
  domain/src/main/java/com/photosurfer/android/domain/repository/ImageRepository.kt
  feature/alarm-list/src/main/res/layout/fragment_alarm_list_main.xml
  feature/search-result/src/main/AndroidManifest.xml
  feature/search-result/src/main/java/com/photosurfer/android/search_result/SearchResultActivity.kt
  feature/search-result/src/main/java/com/photosurfer/android/search_result/detailimage/DetailImageActivity.kt
  feature/search-result/src/main/java/com/photosurfer/android/search_result/detailimage/DetailImageAdapter.kt
  feature/search-result/src/main/java/com/photosurfer/android/search_result/detailimage/DetailImageViewModel.kt
  feature/search-result/src/main/res/layout/activity_detail_image.xml
  feature/search-result/src/main/res/values/strings.xml
  shared/src/main/res/drawable/ic_wave_bottom.xml
  shared/src/main/res/drawable/shape_oval_white_fill.xml
  shared/src/main/res/drawable/shape_rect_white_fill_300.xml
  shared/src/main/res/layout/item_mutable_chip_detail.xml
Labels: 🐷Chang🐷, ✨Feat✨, 🔥PR🔥
